import os

def set_vars():
    ## Reddit Details ##
    #
    # For information on how to create these, you can visit
    # https://github.com/reddit-archive/reddit/wiki/OAuth2-Quick-Start-Example#first-steps
    os.environ['REDDIT_CLIENT_ID'] = 'REDDIT_CLIENT_ID'
    os.environ['REDDIT_CLIENT_SECRET'] = 'REDDIT_CLIENT_SECRET'
    os.environ['REDDIT_USER_AGENT'] = 'REDDIT_USER_AGENT'
    os.environ['REDDIT_USERNAME'] = 'REDDIT_USERNAME'
    os.environ['REDDIT_PASSWORD'] = 'REDDIT_PASSWORD'
    os.environ['REDDIT_SUBREDDIT'] = 'REDDIT_SUBREDDIT'

    ## Application Environment ##
    #
    # The application environment determines the path to your database and log files.
    # 
    # Valid values are 'production', 'development', and 'test'.
    # In general, you will want to set this to 'production' if your bot is live or
    # to 'development' if you are developing Gooey.
    #
    # WARNING! Setting this to 'test' can cause your entire database to be deleted if 
    # you run Gooey's test suite! This is intentional -- do not set this to 'test' 
    # manually unless you are aware of the implications.
    os.environ['ENVIRONMENT'] = 'development'