{% extends "base.html" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
  <div class="container-main container container-fluid text-center">
    <h1 class="container-header-title">Welcome to the Gooey v{{ VERSION }} Control Panel!</h1>
    <div class="button-container container container-fluid row">
      <div class="btn-box col-xs-4">
        <a href="#" class="btn btn-primary btn-index">
          <span class="glyph-btn glyphicon glyphicon-wrench" aria-hidden="true"></span>
          <br />
          Manage Existing Bot
        </a>
      </div>
      <div class="btn-box col-xs-4">
        <a href="{{ url_for('new') }}" class="btn btn-success btn-index">
          <span class="glyph-btn glyphicon glyphicon-pencil" aria-hidden="true"></span>
          <br />
          Create a New Bot
        </a>
      </div>
      <div class="btn-box col-xs-4">
        <a href="#" class="btn btn-warning btn-index">
          <span class="glyph-btn glyphicon glyphicon-download-alt" aria-hidden="true"></span>
          <br />
          Import Config
        </a>
      </div>
    </div>
  </div>
{% endblock %}
